[2020-03-31 19:14] Omi231 opened #1 "Parsing Dynamic Webpage"
hi,

How to measure loading time. I want to check performance in miliseconds that how much time it takes to load a webpage. Can you please suggest me how can I do that?

[2020-04-01 04:15] tusharojha commented on #1
Hello @Omi231,

At present, web_scraper is not measuring loading time/performance but I am working on it and will provide that in the next update.

Thanks for reporting!

[2020-04-01 10:41] Omi231 commented on #1
@tusharojha I have one more question. Is it possible to access webpage <Script> tags which are inside head and body? There is a string variable inside a script tag, i want to access that.

If its not possible using this plugin then how else can I achieve this?

Thanks for this plugin by the way. It is very convenient to use.

[2020-04-01 18:38] tusharojha commented on #1
I feel glad to tell you that now you can fetch elapsed time as well.
Have a look to `develop` branch for recent updates.

Package will be updated in the next version.

Thanks for reporting issues/improvements.

[2020-04-03 16:22] tusharojha commented on #1
@Omi231 Thanks for your improvement suggestions!

Version 0.0.5 contains all the features you need.

For detailed info on scraping script variables using web_scraper 0.0.5, have a look on tests present in [web_scraper_test.dart](https://github.com/tusharojha/web_scraper/blob/master/test/web_scraper_test.dart)

[2020-04-03 16:22] #1 closed

[2020-04-11 18:22] jleangstartup opened #3 "Get Element Content"
Hi there. This is pretty nifty. I had a play around with your example.

Any chance you could grab content as well? (the same way you get Element attributes)

Like for example in your test website, if I wanted to grab the descriptions

`<p class="description">Prestigio SmartBook 133S Dark Grey, 13.3&quot; FHD IPS, Celeron N3350 1.1GHz, 4GB, 32GB, Windows 10 Pro + Office 365 1 gadam</p>`

[2020-04-11 20:19] tusharojha commented on #3
Hello @jleangstartup
Unless I am misunderstanding, you want to get the data enclosed between the opening and closing tag. If yes, then its already available in the response of the getElement method.

In response, you will get the list of all occurrences of the prescribed address in arguments of method getElement. You can access the content by the fetching title from the returned object.

Here is a

[2020-04-12 11:22] jleangstartup commented on #3
ah right my apologies. Yes that works.

I am having a bit of trouble accessing the description in your example page though.
Is this how I am meant to be doing it? It looks like it is expecting some attribs, but what if the <p> </p> does not have any attribs?

`        productNames = webScraper.getElement(
            //'div.thumbnail > div.caption > h4 > a.title', ['href', 'title']);
            '

[2020-04-12 11:46] tusharojha commented on #3
As of now, it is required to pass the array of attributes you want to extract!
One possible way could be to pass the attribute by which you are finding the element.

Example:
[code]
Since, you are fetching the element by its class i.e. description you can pass class in the array to make it work.

It would be fixed in the next version.

Thanks for reporting.

[2020-04-12 12:14] jleangstartup commented on #3
ahh yup I added a

[code]

[2020-04-12 12:37] tusharojha commented on #3
You can also make a pull request to the `develop` branch for it!

Thanks
I'm closing this issue now!

[2020-04-12 12:37] #3 closed

[2020-04-20 11:54] Omi231 commented on #1
Thank you so much @tusharojha. I can't explain in words how much thankful i am. Stay blessed :)

[2020-06-24 13:59] apgapg opened #6 "Exception on Flutter Web"
Using v0.0.6
Web scrapper gives exception on running flutter web

[code]

[2020-06-26 07:07] tusharojha commented on #6
Hi @apgapg
I think the problem is because the URL you are trying to scrap is not available.
Please check the webpage.

[2020-06-26 08:44] apgapg commented on #6
It works on android device. Is it something CORS issue?

[2020-06-30 12:28] tusharojha commented on #6
Yes, It may be a CORS issue because I have tried myself and its working.
I suggest you try with some other website.

[2020-06-30 14:31] apgapg commented on #6
Image.network loads image from different domain. But cachednetworkimage unable to show image because of cors issue

[2020-07-07 18:27] v-grabko1999 commented on #6
This library will work as expected (with any sites) only in the form of a native application. If you are compiling into a web view then watch out for the CORS headers. More details: [developer.mozilla.org/en/docs/Web/HTTP/CORS](https://developer.mozilla.org/en/docs/Web/HTTP/CORS)

[2020-07-10 07:30] v-grabko1999 commented on #6
An example of a solution to your problem: https://github.com/gskinnerTeam/flokk#cors-proxy

[2020-07-13 20:45] tusharojha commented on #6
I hope this will help @apgapg
I am closing this issue as of now, feel free to open again if you face any issue.

Thanks, @v-grabko1999

[2020-07-13 20:45] #6 closed

[2020-08-30 13:48] SorngSothearith opened #8 "User Agent"
Hello how can I set user agent before it scraping?

[2020-09-14 19:13] tusharojha commented on #8
Hi @SorngSothearith
Thanks for asking but I think it's not implemented yet. It would be great if you can give your suggestions and contributions to the following field.

Sorry for the late reply.

[2020-10-02 13:24] utsavstha opened #10 "Spaces in div class"
I couldn't find any examples that showed how to fetch a div tag that has spaces in class name. For example:
`<div class="wikitable wikitable-striped infobox_matches_content">`
could you please help me with that?

[2020-10-09 11:29] tusharojha commented on #10
Thanks, @hajimeku for your response.
I hope it works for you @utsavstha.

[2020-10-31 14:37] #10 closed

[2020-11-03 17:53] iamshaunwu opened #12 "how to extract the when there is a <br />?"
Hi! My code is as follows.
`final titleElements = webScraper.getElement(
          'section.content__block.content__full > div.container > table.tr-table > tbody > tr > td',
          []);`

All is data scraped is good except when it comes to the below line.
`<td>SHOP NAME<br />Address</td>`

It will appear as SHOP NAMEAddress. Can you shed some light on how I can split into 2 elements? Thanks!

[2020-11-04 09:14] iamshaunwu commented on #12
I found the solution.

[2020-11-10 11:49] Hecsall opened #13 "getScriptVariables RegEx issue"
Hi, while using this package i noticed a bug on the regex used on the **getScriptVariables** function.
I'm trying to get a variable that contains a (huge) **JSON object**, but the problem is that inside one of the keys there is a semicolon (**;**) and this breaks the object because the regex thinks it's the end of the javascript variable.

I'm no regex expert to be honest, so i don't really know h

[2020-11-10 17:12] #8 closed

[2020-11-10 17:48] tusharojha commented on #13
Hi @Hecsall!
Thanks for filing this issue.
You are right this is an issue that should be fixed on top priority. Maybe while writing the first suite, I was not thinking about it but surely now I will upgrade the primitive regex to something which satisfies the case of quote enclosure.

It would be fixed in the next coming update.

Once again, Thanks for filing this issue. 👍

[2020-11-11 15:08] tusharojha commented on #13
The issue will be closed after the patch gets merged to master.

[2020-11-12 10:47] Hecsall commented on #13
Nice job, tested the new regex locally and it works like a charm, thanks!

[2020-11-13 17:06] tusharojha commented on #13
The issue has been fixed in the latest version of the web_scraper.
Thanks for your contribution!

[2020-11-13 17:06] #13 closed

[2020-11-21 18:25] jordan-hamilton commented on #12
Any insight on how you accomplished this @iamshaunwu? I was hoping to replace br tags with newlines inside of a p tag, but I can see they were stripped in the output with a line like the following:
`final elements =
        webScraper.getElement('div.about > div > p', []);`

[2020-11-21 20:12] iamshaunwu commented on #12
@jordan-hamilton it's complicated... hahaha... I replied to your .me email.

[2020-11-22 04:31] tusharojha commented on #12
@iamshaunwu I think we should add this in the next version!

It would be a great help if you can describe your solution here as well.

And we can reopen this issue too.

[2020-11-22 08:05] iamshaunwu commented on #12
@tusharojha
Do pardon me. I feel a little embarrassed because I think my method is a little traditional. Moreover, I am 39 and I only started development since August 2020. Anyway, based on my needs, what i did was:
1. Use `webScraper.getPageContent()` to extract the html code from the webpage into a string variable.
2. Use .replaceAll to replace `<br />` with a tag that can be detected during the

[2020-11-23 15:30] jordanglean opened #17 "Improve Documentation"
Please add more simple examples of how to use this.

[2020-11-29 09:22] tusharojha commented on #12
Thanks, @iamshaunwu for your response and filing this issue.
I appreciate your solution and will work on it to make a more generic, reusable & scalable to implement.

[2020-11-30 09:54] tusharojha commented on #17
Yes, I think we should have an example showing a bit more features of the package. Also, the in-code documentation also needs to be updated as reflected on the pub dev score.

[2020-12-09 10:21] tusharojha opened #18 "Add NullSafety to prerelease"
Since the null safety is in beta from November 2020. It's the right time for packages to migrate to null safety before the stable launch in early 2021.

Web Scraper package (including the example) have the following dependencies:

Direct :
- [x] http
- [x] html
- [x] url_launcher

Dev :
- [x] test
- [x] pedantic

[2020-12-20 17:33] robotvinay opened #19 "Error: Instance of 'WebScraperException'- Plugin is not working for Web"
I was able to scrap the data using this package for Android,iOS,Desktop

But while testing in Web, i am getting this error

package : web_scraper: ^0.0.8

Error: Instance of 'WebScraperException'
    at Object.throw_ [as throw] (http://localhost:64427/dart_sdk.js:4348:11)
    at web_scraper.WebScraper.new.loadWebPage (http://localhost:64427/packages/web_scraper/web_scraper.dart.lib.js:75:23)
    a

[2020-12-24 07:27] tusharojha commented on #19
Hi @robotvinay
Are you sure this is not a CORS issue?
Also, send the error message of `WebScraperException` using errorMessage() function of the same.

[2020-12-27 08:59] izark99 opened #20 "Cant get data from div has 2 div child has same class name"
Cant get data from div has 2 div child has same class name
![image](https://user-images.githubusercontent.com/20470671/103167265-4e226480-485c-11eb-82a7-556fd2200549.png)

[2020-12-27 09:11] tusharojha commented on #20
Hi @izark99.
Thanks for filing an issue but can you please give a bit more information about the issue and any steps to reproduce the same.

[2020-12-27 10:01] izark99 commented on #20
_tempList = webScraper.getElement(
        'div.wrapper > div.container > div.row > div.col-sm-8 > div.movie-rate > div.rate-star > div.movie-eps-all > div.movie-eps-wrapper > a.movie-eps-item',
        ['title', 'href'],
      );

In div.movie-eps-all has 2 div.movie-eps-wrapper. So when I run, _tempList is empty.

[2021-01-04 13:25] tusharojha commented on #18
http package is now unblocked to go live for pub.

[2021-01-07 11:33] tusharojha commented on #20
Hi @izark99,
I tried to reproduce the issue and fortunately for me, it's working. Here are some checks/tips I would suggest you try:

- CHECK: Make sure it can reach the website (there should be no CORS issue or network issue)
- CHECK: The element you are looking for should be present at the specified address
- TIP: You don't need to pass the whole address from body to the element. You can just lo

[2021-01-07 11:33] #20 closed

[2021-01-09 12:55] tusharojha commented on #17
Closing this issue, since no response from @jordanglean. Feel free to open this issue if the problem still stands.

[2021-01-09 12:55] #17 closed

[2021-01-11 08:47] tusharojha commented on #19
Closing this issue because of no response in the last 15 days. Feel free to reopen the issue when you're back!

[2021-01-11 08:47] #19 closed

[2021-01-13 14:59] TheYuriG opened #21 "getElementTitle() and getElementAttribute()"
Hello, very useful package.

Trying to do a pull request with 2 new methods that return simplified Lists over a List of Maps.
Never used github before so figuring it out for now. Please do test if it works as expected before merging.

I've commented on all 3 to make easier for new users to the package, as I had no previous experience with non-cheerio web scraping so i'm hoping my notes will help o

[2021-01-13 15:32] TheYuriG commented on #21
Could not figure out how to branch and do a pull request, but here is the code:
https://paste.ofcode.org/YhJvUkpZqS3c7HJVBek8h3

[2021-01-13 15:32] #21 closed

[2021-01-13 16:12] tusharojha commented on #21
Hi @TheYuriG,

I am happy to see your interest in contributing to this package and you're welcome as well. Honestly, I have been thinking to simplify the current data structures for the package, making it simpler & scalable for developers to use.  It can be a good alternative as of now and keeping it as a separate option without directly changing the current pattern.

Check out this video tutorial

[2021-01-14 11:58] TheYuriG commented on #21
Thank you! Happy to give some back after taking so much!

Yeah, my idea was not to do any breaking changes so everyone could use this update without having any breaking changes.

Will take a look. I had to bail for the day last time i posted so i just didn't want to be one of _those guys_ that promise something and then just disappear for days. Will try doing the proper way next time.

[2021-01-14 12:07] TheYuriG opened #22 "Performance optimization and HTML parsing"
It seems like the package only parses the HTML once you invoke a method. If you load a website once, but use several getElement() methods, it will parse the HTML for every single one of those, which causes massive slowdown for larger websites (my issue).

Would it be possible to parse all that HTML once when loading the website and then just pass that `document` variable to every other command?

A

[2021-01-15 12:22] TheYuriG commented on #22
I got the performance part sorted out (amazing improvment on my use case from 55.8 seconds to 2.6 seconds.. This time i'm actually going to figure out how to do a pull request and then i'll do the proper way. Will be looking into the parsing part later today.

[2021-01-15 17:25] TheYuriG commented on #22
Did a pull request, but it shows as if i've deleted everything and started over, sorry about that. Described which lines were changed so if you wanna just repeat my changes in your file and compare before merging, feel free to.

Will try working on the parsing from string this week.

[2021-01-19 13:39] TheYuriG commented on #22
Closing this issue as i've made a PR that addresses the raised points.

[2021-01-19 13:39] #22 closed

[2021-01-27 07:46] izark99 opened #24 "Cant get data from Ajax page"
Link: https://fimnhe.net/xem-phim/hanh-phuc-nho-cua-anh-my-little-happiness-tap-1-server-1

My code:
![image](https://user-images.githubusercontent.com/20470671/105958956-e0ad6200-60ad-11eb-82a8-78105f712b13.png)

_tempList is empty.
I want to get src like this.
![image](https://user-images.githubusercontent.com/20470671/105959087-0aff1f80-60ae-11eb-9c7d-a8a6bbd5525b.png)

I'm newbie so sorry if t

[2021-01-29 13:21] tusharojha commented on #24
Thanks for filling the issue @izark99. This is something unexpected, I have to take a look into this.

Although, I think this can because of some script blocking the web_scraper to get the elements.

I will provide updates regarding this after testing some more cases.

[2021-01-29 13:23] tusharojha commented on #18
http package is null safe now.

[2021-02-04 17:53] izark99 commented on #24
Have any solutions for this? I try but still cant.
Hope to have your reply.

[2021-02-07 17:12] cyclothunder opened #26 "Getting attributes from elements that are not present consistently throughout the webpage"
In the following example I want to catch all text in element "td", but if exits an element "a", I will also want its "href" attribute.
Hope this makes sense to you.

<img width="328" alt="example" src="https://user-images.githubusercontent.com/2094896/107153672-b473ca00-6966-11eb-86bc-8eb49f7913c3.png">

I think there is no way to do this. Am I correct?

[2021-02-18 10:06] TheYuriG commented on #24
This is rendered through javascript. If you load the page with javascript disabled, that `div#ajax-player` stays forever empty.
I don't believe you can get the content of that div through the method you are currently deploying.
Think the only solutions are to either mimick the network requests the JS function is doing or use a framework that runs a browser window on background, like Puppeteer.

[2021-02-19 10:57] tusharojha commented on #24
Sorry @izark99 for the late response, actually I was busy with my exams.
Thanks to @TheYuriG for adding info related to it.

Feel free to open new issues for improving the package.

[2021-02-19 10:57] #24 closed

[2021-02-20 12:21] cyclothunder commented on #26
I already have a proposed fix if you're interested.

[2021-02-20 13:42] tusharojha commented on #26
Hi @cyclothunder!
Sorry for the late reply. Actually, I was in-active in the last couple of weeks.
Also, I would love to know your fix and appreciate your contribution to improving the package.

[2021-02-20 20:55] cyclothunder commented on #26
No problem.
Should I do a pull request? Or just paste it in a comment?

This will be my first contribution to an open source project :)

[2021-02-21 02:56] tusharojha commented on #26
Make a pull request to add the feature & make sure to target develop branch. This would be a great start to open source ✨

[2021-02-21 14:22] d-apps opened #27 "How to scrape the content of this website correctly?"
I am new to web development and I don't know how to retrieve the content from 4 urls of the same website, I always get empty values. I am not sure which parameters and how to use them inside getElement() method, when should I use "**>**"?

I need to retrieve titles, images, descriptions and urls from the site, the pages I will navigate are:

https://datassette.org/revistas (Categories of magazines

[2021-02-21 14:50] tusharojha commented on #18
html package is also null safe now!

[2021-02-21 17:01] d-apps commented on #27
After hours testing I found a way to retrieve all the data I need.

[code]

[2021-02-21 17:01] #27 closed

[2021-02-21 18:39] d-apps opened #29 "How to access data from div classes with spaces in the name?"
When I try to get the data from this specific url I get an empty list.

http://www.datassette.org/revistas/dragao-games/dragao-games-no-1

If the div class has any space on the name, the list gets empty, example:

[code]

[code]

**Data from the website**

[code]

[2021-02-22 04:56] tusharojha commented on #29
Hi @d-apps,
I saw your last issue too. I think you are facing the same problem in both cases i.e. finding out right selector for an HTML tag.

I suggest the following trick to get the address/selector for any tag:
- Open the webpage on chrome
- Use inspect element to find out the right HTML tag
- Right-click on the tag under the elements pane, choose Copy selector under the copy section.

Now answ

[2021-02-22 06:52] tusharojha commented on #12
As this is a need-based thing so I think we cannot assume to add this feature for everyone. But the issue now can be fixed with the new function added to the library i.e. [loadFromString](https://github.com/tusharojha/web_scraper/blob/develop/lib/web_scraper.dart#L91).

So, the whole process would be
- to remove `<br />` tags or replace with something else, first get the page source in a string us

[2021-02-22 06:52] #12 closed

[2021-02-24 10:52] tusharojha commented on #26
Thanks for your contribution @cyclothunder!

[2021-02-24 10:52] #26 closed

[2021-02-24 13:57] tusharojha commented on #18
`web_scraper` version 0.1.4 is null-safe now 🔥

CI on develop branch is failing because it's testing on the stable dart version.

[2021-02-24 13:57] #18 closed

[2021-02-25 00:21] d-apps commented on #29
Thanks a lot, it's working.

[2021-02-25 00:21] #29 closed

[2021-03-01 15:42] OzRagwort opened #33 "It seems that the copyright notice was not written correctly."
I found it during an license and copyright notice.

It is currently written in the LICENSE file as follows.
Copyright [yyyy] [name of copyright owner]

I think it needs to be fixed.
For example "Copyright © 2020 tusharojha"

I'm sorry if I made a mistake because I didn't know.

[2021-03-02 18:57] tusharojha commented on #33
Nice catch 👍
I think I was very excited while deploying the first version of the package 😄

[2021-03-05 17:18] ArnaudAngelo opened #35 "Can't scrap results from Ecosia anymore"
Hi,

First of all, thanks for your package, it helps a lot !

Few months ago I succed to get the results of a research from www.ecosia.org but it suddenly stop working... I was able to display in a ListView, the title, the description and launch the related link of the website.

Here is my code :

[code]

but the lists are empty.

So I tried to start over by simply getting the element `webScraper.

[2021-03-07 12:23] tusharojha commented on #35
Hi @ArnaudAngelo, Thanks for your interest in the package.

It looks like the page is using `javascript` to redirect. websites generally use these in cases to protect from web scraping or maybe they are actually redirecting to a new URL.

So, I would suggest taking a deep dive inside the network tab of chrome dev tools.

[2021-03-08 12:44] anass-naoushi opened #36 "Cannot catch error in webScraper.loadWebPage('') !"
If the user does not have an internet connection or fetching fails, the page keeps awaiting endlessly without returning an error. I tried adding try{} catch (e){throw 'error'} but did not work. This  must be fixed please. Thank you.

[2021-03-09 04:14] ArnaudAngelo commented on #35
Thank you @tusharojha for your answer.
So, do you think I can bypass this redirect or I should better use an other web browser?

[2021-03-09 05:45] tusharojha commented on #35
Yes, you can try out by changing the web browser as well.

[2021-03-09 07:51] tusharojha commented on #36
Hi @anass-naoushi!
Thanks for filing the issue. But I am not able to reproduce it. So, It would be great if you can give more info like the version you are using, network speed, etc.

I tried with the latest version while setting my machine to flight mode and it does showed be WebScraperException errors.

[2021-03-09 16:36] #35 closed

[2021-03-19 21:11] Gausoft opened #37 "How to insure that assets successfully loaded before?"
Hello, Thanks first of all!
I'm trying to extract images [from this site](https://pixellia.co) but I noticed that the package is not getting all html page content..
I'm wondering if the placeholder loading animation effect is the reason why..
So, please what workaround can I use?

[2021-03-25 15:17] bounty1342 commented on #37
A more general case is with loading="lazy" tag. Same.

[2021-03-25 17:49] tusharojha commented on #37
Hi @Gausoft @bounty1342

Thanks for reporting the issue, actually one of the major limitations of the package is that it cannot wait for the page to load or better say "it's just all related to HTML" which means that pages having some sort of javascript to load things will not be loaded.

As a workaround, if you can use [puppeteer](https://pub.dev/packages/puppeteer) which uses chrome to do some w

[2021-03-25 17:51] tusharojha commented on #36
Closing this issue because of no response. Feel free to reopen if the issue persists.

[2021-03-25 17:51] #36 closed

[2021-04-03 13:42] Srikarthikeyan4006 opened #38 "how to get data in td:nth-child(5)"

[2021-04-05 14:05] sandys opened #39 "how to get ALL text and images from a webpage ?"
hi,
I'm looking to get all the text and images from a webpage. I dont care about the formatting. Just that all the text & images is there.

Is there anyway to do this ?

The thing i dont want to do is tie it to the structure of a particular webpage.  It should work on any page html

[2021-04-05 14:54] #39 closed

[2021-04-05 18:39] #38 closed

[2021-04-11 23:38] Joseph-Nathan opened #42 "ask for help"
j want to get google forms html url as List<Map> in dart
exp.
[exam url](https://docs.google.com/forms/d/e/1FAIpQLScZSDzsjcGQGDAMGRY1UBLCBMYOuaX7iPFrCxFZNSHTaZPsag/viewform?usp=sf_link)

can you help me by your package .

[2021-04-13 05:58] tusharojha commented on #42
I need more explanation on this to help.

Some pointers would be:

- What are you doing? I mean which url you are scraping?
- What element you want to be scraped?
- What's your desired result?

[2021-04-13 10:43] Joseph-Nathan commented on #42
sorry i fixed url ,
i work with exam app and need to get option to import question tom my exam from google form exam ,
element i want to scraping choose question form prev. url ,
desired result :
List<ChooseQuestion> question ,

sorry , i'm ban in web , thank for your time .

[2021-04-17 09:04] venky9885 opened #43 "Site Scraping that is locked behind login"
I want to perform site scraping that is present after logging

[2021-04-22 00:54] wpsouto opened #44 "Problem in the nth-child of even indexes"
All even indexes are not found in the method below

[code]

[2021-04-23 09:04] tusharojha commented on #43
As of now, its not possible with `web_scraper` package, try puppeteer.

[2021-04-23 14:42] Joseph-Nathan commented on #42
@tusharojha hi bro ,
are you reach for any idea !?

[2021-04-24 15:11] venky9885 commented on #43
I have seen puppeter, it seems doesn't support Android, can you suggest any other??

[2021-04-24 17:21] tusharojha commented on #43
Then, I think should prefer doing the scraping task on a server. Though, I will let you know if I find any good mobile alternative.

[2021-04-25 13:35] tusharojha commented on #42
Hi @Joseph-Nathan!
Actually you can do this by trying different selectors. For example:

[code]

[2021-04-26 08:46] venky9885 commented on #43
ok thanks

[2021-04-26 08:46] #43 closed

[2021-04-27 11:34] Joseph-Nathan commented on #42
thanks bro it work fine ,
is that possible to split values because it's overlap ,
like "xxxxxxxxxxxxxxx%%xxxxxx%%xxxxxxxx"
%%  some thing to split between values .

thanks again .

[2021-04-27 13:10] Rizwan-Raza opened #45 "How to get and store list of traversable element node tree instead of Map."
Like I'm having a TABLE with TR and TD as we all have.
Now I have to get a list of TRs first like 'table > tr' and then further I want to fetch TDs for each TR.

Here a psuedo code that I want.
[code]

I'm doing currently this like

[code]
Here I'm getting problem cause not all the TRs have same 3 TDs. Some of them have 2 and some have only 1.
Like simply sometimes I get 20 names, 18 images and 8

[2021-04-27 14:08] tusharojha commented on #42
You can try something like:

[code]

[2021-04-30 01:21] wpsouto commented on #45
[code]

[2021-05-02 11:04] Rizwan-Raza commented on #45
You just rewrote my psuedo code, PSUEDO CODE, except you replaced forEach method with native for and accessing element field from parent instead of child row.

There's in no method like .getElements("pathToSearch") wihich returns Traversable Node list.
For that only, I raised this issue. Else things are good to go.
The practically possible code with this library is below the first one.

[2021-05-02 12:43] tusharojha commented on #45
Hi @Rizwan-Raza!
Thanks for filing an issue.

I got your point and this definitely needs to be resolved. I have added it to my todo list and will be covered in the next update. Also, It would be great if you would like to suggest anything or give more info on your issue.

[2021-05-12 05:39] ArjanAswal opened #46 "Wait till the page loads"
Currently, this package scrapes the very first content of any website and is unable to get any useful data before the page loads.
Is there any way to add some sort of timeout support so that the page is allowed to be rendered completely?

[2021-05-12 19:51] tusharojha commented on #46
Related to #37

[2021-05-12 19:51] #46 closed

[2021-05-12 19:52] tusharojha commented on #42
Closing this issue as your questions are answered now.
Feel free to reopen if you still face the same problem.

[2021-05-12 19:52] #42 closed

[2021-06-04 14:20] vxern opened #49 "There is no 'contentType' property which is important for filtering out unsought for results"

[2021-06-04 14:22] tusharojha commented on #49
Thanks for filling the issue. Can you please give more info on it including the use case?

[2021-06-06 22:42] vxern commented on #49
A programmer should be able to check the type of content that is downloaded. A .txt is not a .pdf, and a .html is not a .jpg, for example. It would be very useful to be able to read the contentType property that come with html responses.

[2021-06-09 16:04] tusharojha commented on #33
Fixed via #48.
Thanks for filing.

[2021-06-09 16:04] #33 closed

[2021-06-20 13:33] oliverchu opened #51 "Encoding"
encoding: please let me set encoding : gbk and other.

[2021-06-22 14:43] tusharojha commented on #51
Hi @oliverchu,
Can you please give more info on your issue?

[2021-07-06 17:10] elRubenof opened #53 "No option to set custom User-Agent"
Hi, I´m scraping a web that some days has cloudflare enable and other ones no (i don´t know why), but when it is enable flutter can´t get the data from the web. There is any solution?

![Captura de pantalla 2021-07-06 a las 19 12 44](https://user-images.githubusercontent.com/52919665/124640798-33295080-de8e-11eb-98f0-dcbb9d64c9d6.png)

[2021-07-07 16:55] tusharojha commented on #53
Not sure but I guess changing the User-Agent in header for get request would pass the cloud flare filter.

[2021-07-28 20:13] elRubenof commented on #53
Sorry for the late, could you say me how to implement that on my code @tusharojha ??

Here is an example:

import 'package:web_scraper/web_scraper.dart';

var webScraper1 = WebScraper('https://example.com');
Future<void> test() async {
  if (await webScraper1.loadWebPage('/')) {
    var item = webScraper1.getElement('h1', ['title']);
  }
}

[2021-07-30 14:09] Laestry commented on #44
I have the same problem

[2021-07-30 15:36] Laestry commented on #44
it seems to be a problem with dom.dart we forked and used universal html and it worked!

[2021-07-30 15:53] tusharojha commented on #44
Hi @Laestry!
Would you like to contribute for the same?

[2021-08-01 05:36] pzet123 opened #54 "Error reading address of HTML elements which have spaces in the name of their class."
When passing the address of a HTML element in the getElement() method, providing any element whose class has spaces in the name will prevent it from being returned:
For example:
`webScraper.getElement("div.title page", [])`
will not work because of the space between title and page.

[2021-08-01 05:59] #54 closed

[2021-08-05 17:34] dvird opened #55 "Mainthread blocking."
The library parsing and doing all things on main thread. which slows down the all app

[2021-08-09 15:23] tusharojha commented on #55
Are you using the async functions for all events?

[2021-08-09 15:24] tusharojha commented on #53
As of now, the web_scraper library is doesn't support to set custom User-Agent but would be fixed in the coming update.

[2021-08-11 17:15] dvird commented on #55
sure. but i need at scale so im parsing like 36 pages at the same time and its blocking the thread a little bit

[2021-08-11 23:53] LastxTemplar opened #58 "Page Requests"
Would it be possible to also scrape the network requests that a page is making?

[2021-08-18 12:01] Hecsall opened #59 "SocketExeption: Connection Failed, on Flutter Desktop and Flutter Web"
Hi @tusharojha,
I was trying to add desktop and web support to my existing flutter project when I noticed that the web_scraper package throws an error when calling the `loadWebPage` method.

The specific error is:
```SocketException: Connection failed (OS Error: Operation not permitted, errno = 1), address = m*******.com, port = 443```
See screenshot:
![imgur](https://i.imgur.com/ndcf3FB.png)

Sam

[2021-08-20 16:08] Hecsall commented on #59
I've got some updates regarding this issue.
Today I had time to look at the code and I noticed it's actually an issue coming from the `http` library, precisely from the usage of `Client()`.
I tried the basic `http` library example, that uses directly `http.get()` and it works:
[code]

But when I try the `Client()` version, also used inside `web_scraper`, it throws the Exception:
[code]

Fun thing,

[2021-08-20 17:37] manzajp opened #60 "is there Flutter Web support?"
im sorry but im new to Github so i wouldn't know where to ask but is there Flutter Web support for this plugin?
It would seem that it does from pub.dev but im creating a simple sample and it didnt work on web but works on android emulator.
Below are the errors:

Error: Instance of 'WebScraperException'
    at Object.throw_ [as throw] (http://localhost:63522/dart_sdk.js:5087:11)
    at web_scraper.

[2021-08-21 14:29] Hecsall commented on #59
Sorry to reopen this, but I did some investigation, and here's a **really** short version of what I managed to discover:
- `web_scraper` uses the `http` library, and it makes requests using [`http.Client()`](https://pub.dev/documentation/http/latest/http/Client-class.html)
- `http.Client()` is a wrapper around [**dart:io** `HttpClient()`](https://api.dart.dev/stable/2.13.4/dart-io/HttpClient-class

[2021-08-22 14:47] tusharojha commented on #59
Hi @Hecsall,
Thanks for filing the issue and I appreciate your research.
I am busy for a few days but I will surely check for this, not sure if `client.close()` is the reason for failure it would be great if you fork the repo and help me get the fact.

Other solution could be migrating the project from http client to [dio](https://pub.dev/packages/dio) library.

I will get back on this next week f

[2021-08-22 14:49] tusharojha commented on #60
Hi @manzajp,
It's been reported that the package is not working properly on Flutter Web (check #59). I am closing this issue to keep things sorted. So you can check for updates on that issue & let's have the conversation over there.

Thanks.

[2021-08-22 14:49] #60 closed

[2021-08-22 14:50] tusharojha commented on #58
Not sure.
One simple way could be getting the javascript variable values using the methods mentioned on the readme.

[2021-08-22 14:50] #58 closed

[2021-08-22 14:52] tusharojha commented on #55
Agreed. It could be a valid improvement to do.

[2021-08-22 14:53] tusharojha commented on #51
Closing the issue because of no response in last 60 days.
Feel free to open, if you have extra info on the same.

[2021-08-22 14:53] #51 closed

[2021-08-22 19:49] Hecsall commented on #59
Hi @tusharojha, thanks for the response!
The issue with `client.close()` is not related with the issue with the http library, I was just pointing that I noticed that while doing my research, I think it *could* cause performance issues (not a dart expert, don't quote me on that 😂), but has nothing to do with the main issue in the title, sorry for the confusion.

[I opened an issue inside Dart SDK r

[2021-08-24 19:41] Hecsall opened #63 "Usage of ports in URL break validation in .loadWebPage()"
Doing some experiments I noticed that including a **port** (:XXXX) in the baseUrl inside `webscraper.loadWebPage()` method causes the validation to recognize it as a non-valid URL, and will throw a generic WebScraperException.

The following does not work
[code]

While those URLs doesn't work with `webscraper.loadWebPage()`, they still work with `webscraper.loadFullUrl()` due to missing validation

[2021-08-24 19:42] Hecsall commented on #59
After further investigation, I learned that 90% of the issues with `web_scraper` on Flutter Web are related to [CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS), since Flutter Web acts more like a server than like a client, and data requested from other websites (if not allowed) is blocked.
We can see if the error is a CORS error by checking the **Developer Tools** inside the Google C

[2021-08-25 14:36] usaikoo opened #64 "What if there is no attribute in table tr>td."
{title: 1,600.49, attributes: {}},
is there any solution for it. Thanks

[2021-08-28 09:55] thavrithTok opened #65 "example code not working??"
when run debug
  unawaited(xhr.onError.first.then((_) {
      // Unfortunately, the underlying XMLHttpRequest API doesn't expose any
      // specific information about the error itself.
      completer.completeError(
          ClientException('XMLHttpRequest error.', request.url),
          StackTrace.current);
    }

[2021-08-28 10:14] #65 closed

[2021-09-02 07:17] tusharojha commented on #53
Resolved in #61. Thanks to @koyachi.

[2021-09-02 07:17] #53 closed

[2021-09-02 07:19] tusharojha commented on #64
Hi @usaikoo,
Would you like to give more info on this issue?

Pointers could be:
- Which method you are using?
- What's the expected behaviour vs current results?
- Any example would be nice

[2021-11-11 18:34] Joseph-Nathan opened #67 "[question] is there in way to scrape .aspx page ?"
is there in way to scrape .aspx page like forms.office.com ?

[2021-12-24 13:04] theRealBitcoinClub opened #68 "Insufficient documentation of tests and usage"
Hey bro, look, your package seems to be awesome, but I can hardly figure out how to use it.

For example you provide this code as test, but what would be that HTML element that you are matching with that command?:

var names = webScraper.getElementAttribute(
          'div.thumbnail > div.caption > h4 > a.title', 'title');

It would be very easy for you, to provide an example HTML element of what

[2021-12-24 14:43] tusharojha commented on #68
Thanks, @theRealBitcoinClub.

I would really appreciate a PR.

[2021-12-24 14:52] theRealBitcoinClub commented on #68
Ok so I found out that the statement above is related to the following code:

[code]
And most probably targets this aspect: title="IdeaTab A3500-H"? It is unclear because the content inside the following brackets is equivalent. While you are answering this question, what would be the command to get the content from inside the brackets?

Is that correct?

[2021-12-24 14:59] theRealBitcoinClub commented on #68
Does the scraper still work in the same manner if the class tag holds various classes? e.g. class="DvzRrc ab_button"

[2021-12-24 15:03] theRealBitcoinClub commented on #68
`<a jsaction="cGXGTb" href="javascript:void(0);" id="wrkpb" role="button" style="color:#e8eaed;text-decoration:none" class="DvzRrc ab_button" data-aspect-feedback-mode="1" data-attribution="lu-desktop-write-review" data-enable-add-photo="true" data-fid="0x8e803ca4b69dc375:0x4bd279fcc5aff74c" data-language-code="es-VE" data-maps-rw-api-key="AIzaSyBcv0QfUNUfBwo8pIGJ3teNCkaluSGUWus" data-pid="ChIJdcO

[2021-12-24 15:55] theRealBitcoinClub opened #69 "The output is different to what I see in the browser"
When I visit a page in the browser with that following URL then I get a different output as to when I use the Scraper getPageContent() method

`e.g.  view-source:https://www.google.com/search?q=`

delivers a different output than

`webScraper.getPageContent().toString()`

Is that because of some USER-AGENT settings and Google is preventing the scrape? How can I solve that issue?

[2021-12-29 19:26] d-apps commented on #59
Does anyone tested with dio or universal_io libs?

[2021-12-31 06:27] tusharojha commented on #69
Yes probably, I have to add an option to set custom USER-AGENT.

[2022-01-07 05:22] ZotInfo opened #70 "Not work in Flutter Web Application"
I'm developing an investment application for a small group of investors, I need to read the google news, however, when I try to read the page, using flutter web, it returns the error in reading, the same occurs when I use the http plugin .

When I fetch data from an API using http, it works perfectly.

**My code**

[code]

**Error and stacktrace**

[code]

[2022-01-15 07:54] mjmon opened #71 "How to parse from a given element tree"
I have the this webpage below on image
<img width="542" alt="Screen Shot 2022-01-15 at 3 52 05 PM" src="https://user-images.githubusercontent.com/41887404/149614266-f6569d47-a9c5-4cee-be08-f4e403281843.png">

This is how I scrape,

[code]

from a given elements I want again to get the sub elements, how do I do it.
I was thinking something like this, obviously this one is wrong syntax but I want to

[2022-02-11 17:22] duongtricn2c opened #85 "How to Scrape Multiple URLs in a class"
I need request multiple urls in a time. How can?

[2022-02-15 22:44] Cheddargt opened #86 "How do I scrape an element that doesn't have an identifier?"
Hello!

First of all, great work on the package. It's an absolute wonder.

However, I'm having trouble trying to scrape a particular information from a website.

![image](https://user-images.githubusercontent.com/15947263/154161267-d9b4ecb0-b02c-4a85-a940-0db317287d7f.png)

I need to get the value that is right after _Qtde.:_

![image](https://user-images.githubusercontent.com/15947263/154161907-7

[2022-04-23 13:49] thinhhja2001 opened #90 "How to Scrap a page that redirect to another page"
Is there any way to scrap the website before it is redirected to another website? I'm trying to scrap a website which will automated redirect to the Login form if I haven't signed in yet. Found a solution on Stackoverflow written in Python: https://stackoverflow.com/questions/57273335/how-to-scrape-a-page-if-it-is-redirected-to-another-before
Do you have any idea how can we do this using Dart?

[2022-05-03 05:16] aldwnesx opened #91 "How to get multiple elements by groups?"

[2022-05-03 05:26] aldwnesx commented on #27
Do you know how to group the elements scraped?
For example there are multiple urls nested in a each div block.

I want to store and group the urls in each div to 2D array.

[2022-07-30 12:03] Whimfoome opened #92 "getScriptVariables() Stack Overflow in optimized (--release, --profile) builds"
Happens only in optimized builds, I think it's related to `RegExp`.

[code]

[code]